
<div class="navbar">
    <div fxFlex="40">
        <div class="brandNameDiv">
            <h4 style="color: white;">Customer Management</h4>
        </div>                    
    </div>
    <div fxFlex="60">
        <div class="menu">
            <ul>
                <li>
                    Customer Admin
                </li>
                <li>
                    <img class="img" src="../../assets/images/user-02.jpg" alt="">
                    <span style="padding-left: 10px;">User #01 <span class="caret"></span></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
