/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    border: 8px solid black;
    height: 100%;
    width: 99%;
    background-color: rgb(254, 239, 248);
}
// ::ng-deep .mat-card{
//     margin: 0;
//     padding: 0;
// }